@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: white;
  --background-color: white;
  --color-primary: "#4CA757";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
    --background-color: white;
  }
}

@font-face {
  font-family: " Averta Std CY";
  src: url("../font/IntelligentRegular_3.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: " Averta Std CY";
  src: url("../font/IntelligentSemibold_1.otf");
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: " Averta Std CY";
  src: url("../font/IntelligentBold_1.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: " Averta Std CY";
  src: url("../font/IntelligentExtrabold_1.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: " Averta Std CY";
  src: url("../font/IntelligentBlack_1.otf");
  font-weight: 900;
  font-style: normal;
}

body {
  color: var(--color-text);
  background: var(--background-color);
  font-family: " Averta Std CY";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.customers-partner {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#logoMember .swiper-slide.swiper-slide-active {
  height: calc(21.1875*100vw/100) !important;
  width: calc(21.1875*100vw/100) !important;
}

#logoMember .swiper-wrapper {
  align-items: center;
  width: 100%;
}

.numberMember {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  opacity: 0.68;
  backdrop-filter: blur(2px);
  -webkit-text-stroke: 0.5px #FFFFFF;
}

.plusMember {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  opacity: 0.5;
  -webkit-text-stroke: 0.5px #FFFFFF;
}

#about {
  display: grid;
  position: relative;
  padding-left: calc(4.375*100vw/100);
  padding-top: calc(9.25*100vw/100);
  padding-bottom: calc(9.25*100vw/100);
  gap: calc(1.875*100vw/100);
  grid-template-columns: calc(44.6875*100vw/100) calc(25.875*100vw/100) 1fr;
  grid-template-rows: calc(21.8125*100vw/100) calc(15.25*100vw/100) calc(5.375*100vw/100) calc(20.75*100vw/100) calc(4.0625*100vw/100);
  grid-template-areas:
    "d1 d2 d3"
    "d1 d4 d3"
    "d5 d4 d3"
    "d5 d6 d6"
    "d7 d6 d6"
  ;
}


#about .item-about1 {
  grid-area: d1;
}

#about .item-about2 {
  grid-area: d4;
  transform: translateX(-100%);
}

#about .item-about3 {
  grid-area: d3;
  transform: translateX(100%);

}

#about .item-about3 img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#about .item-about4 {
  grid-area: d5;
  transform: translateX(-100%);
}

#about .item-about5 {
  grid-area: d6;
  padding-right: calc(4.375*100vw/100);
  transform: translateX(100%);
}

#about .description strong {
  color: var(--color-primary);
}

.list-service .item-service>.hover-service {
  transition: all 1s linear !important;
}

.list-service .item-service:hover>.hover-service {
  transform: translateY(0);
  display: block;
}

.list-service .item-service>.link-item-service {
  transition: all 0.5s linear !important;
}

.list-service .item-service:hover>.link-item-service {
  opacity: 0;
  pointer-events: none;
}


.btn-slide-member:hover {
  transform: translateY(-4px);
  animation: shadow 1s;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 #cbd8cd;
  }
}

.leaflet-container {
  background-image: url(https://demo1.okhub.tech/wp-content/uploads/2023/05/Rectangle-4738.jpg) !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#swiper2-banner .swiper-wrapper {
  align-items: center;
}

#swiper1-banner {
  overflow: unset !important;
}

#swiper1-banner .swiper-pagination-progressbar {
  transform: translateY(-50%);
  height: 4px;
  background-color: transparent;
  top: 100vh;
}

#swiper2-banner .swiper-slide {
  transition: all 0.2s linear;
}


#swiper2-banner .swiper-slide.swiper-slide-thumb-active {
  width: calc(10*100vw/100) !important;
  height: calc(10*100vw/100) !important;
  background-color: #4CA757;
  border: none;
}

#swiper2-banner .swiper-slide.swiper-slide-thumb-active img {
  display: none;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.leaflet-tooltip {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.leaflet-tooltip::before {
  display: none !important;
}

.leaflet-marker-icon.large-marker {
  transition: all 1s linear;
  width: 300px;
  height: 300px;
}

.leaflet-marker-icon.small-marker {
  transition: all 1s linear;
  width: 60px;
  height: 60px;
}